<ul class="menu bg-base-200 rounded-box flex justify-center items-start">
  <li>
    <a class="tooltip tooltip-right flex items-center justify-between" data-tip="Home" href="/">
      <i class="fa-solid fa-building"></i>
      <p>Department</p>
    </a>
  </li>
  <li>
    <a class="tooltip tooltip-right flex items-center justify-between" data-tip="Home" href="/employee">
      <i class="fa-solid fa-person"></i>
      <p>Employee</p>
    </a>
  </li>
  <li>
    <a class="tooltip tooltip-right flex items-center justify-between" data-tip="Home" href="/project">
      <i class="fa-solid fa-diagram-project"></i>
      <p>Projects</p>
    </a>
  </li>
</ul>